@use '../../../../styles' as styles;

.container.card {
  background-color: styles.$IPRWC-blue-white;
}
.image-container {
  padding: 10px;
}

.col-sm.product_specs {
  width: 120%;
}

.price {
  color: styles.$IPRWC-red;
}

.buy_button {
  padding-top: 20px;
}
