@use '../../../../styles' as styles;

.container.card {
  background-color: styles.$IPRWC-blue-white;
}
.image-container {
  padding: 10px;
}

.col-sm.product-specs {
  width: 120%;
}

.price {
  color: styles.$IPRWC-red;
}

.buy_button {
  padding-top: 20px;
}

.product-name {
  margin-bottom: 2vh;
  font-size: 23px;
  font-weight: bold;
}

.product-specs-data {
  color: gray;
  font-size: 12px;
  margin-bottom: 1vh;
}
