<div class="container product-order-card">
  <div class="row">
    <div class="col">
      <div class="product-name">
        {{product.product.name}}
      </div>
      <div class="product-image">
        <img class="img-fluid" src="https://limitless-bastion-9783240.herokuapp.com/product_image/get/{{product.product.image}}" alt="product">
      </div>
    </div>
    <div class="col product-cost">
      <div class="amount">
        {{product.amount}} x
      </div>
      <div class="price">
        {{product.product.price}}
      </div>
    </div>
  </div>
</div>
