<div class="options-container" *ngIf="!shouldUseMobileLayout">
  <div class="option-container">
    <app-account-option (onSelect)="onSelectOverzicht()"
                        [option]="getOverzichtOption()"
                        [ngClass]="selectedOption === getOverzichtOption() ? 'selected-option': 'non-selected-option'"></app-account-option>
  </div>
  <div class="option-container">
    <app-account-option (onSelect)="onSelectBestellingen()"
                        [option]="getBestellingenOption()"
                        [ngClass]="selectedOption === getBestellingenOption() ? 'selected-option': 'non-selected-option'"></app-account-option>
  </div>
  <div class="option-container">
    <app-account-option (onSelect)="onSelectAdmin()"
                        [option]="getAdminOption()" *ngIf="shouldShowAdmin"
                        [ngClass]="selectedOption === getAdminOption() ? 'selected-option': 'non-selected-option'"></app-account-option>
  </div>
  <div class="option-container">
    <app-account-option (onSelect)="onSelectUitloggen()"
                        [option]="getUitloggenOption()" ></app-account-option>
  </div>
</div>

<div class="options-container-mobile" *ngIf="shouldUseMobileLayout">
  <div class="d-inline-block" ngbDropdown>
    <button class="btn btn-primary" id="account-options-dropdown" ngbDropdownToggle>Opties</button>
    <div ngbDropdownMenu aria-labelledby="account-options-dropdown">
      <div class="option-container">
        <app-account-option (onSelect)="onSelectOverzicht()"
                            [option]="getOverzichtOption()"
                            [ngClass]="selectedOption === getOverzichtOption() ? 'selected-option': 'non-selected-option'"></app-account-option>
      </div>
      <div class="option-container">
        <app-account-option (onSelect)="onSelectBestellingen()"
                            [option]="getBestellingenOption()"
                            [ngClass]="selectedOption === getBestellingenOption() ? 'selected-option': 'non-selected-option'"></app-account-option>
      </div>
      <div class="option-container">
        <app-account-option (onSelect)="onSelectAdmin()"
                            [option]="getAdminOption()" *ngIf="shouldShowAdmin"
                            [ngClass]="selectedOption === getAdminOption() ? 'selected-option': 'non-selected-option'"></app-account-option>
      </div>
      <div class="option-container">
        <app-account-option (onSelect)="onSelectUitloggen()"
                            [option]="getUitloggenOption()" ></app-account-option>
      </div>
    </div>
  </div>

</div>
