@import "src/styles";

.image-container {
  height: auto;
  width: 80px;
  padding: 10px;
}
.preview-card {
  margin-bottom: 20px;
  background-color: $IPRWC-blue-white;
  &:hover {
    background-color: #dae0da;;
  }
}
.order-status {
  font-weight: bold;
}
.order-price {
  color: $IPRWC-blue;
}

