@use '../shop.component' as shopcomponent;
@use '../../../styles' as styles;

$logo-width: 166px;

.container-fluid.navigationbar {
  background-color: styles.$IPRWC-blue;
  margin-bottom: 50px;
}
.col-md-auto.logo {
  width: $logo-width;
  height: auto;
  padding-left: 0;
}
.col.searchbar {
  padding-top: 1%;
  padding-left: shopcomponent.$search-filters-padding-left - $logo-width;
}
.app-search-bar {
  display: block;
  width: 800px;
}
