@import "src/styles";
@import "src/app/shop/shop.component";

$logo-width: 166px;

.navigationbar {
  background-color: $IPRWC-blue;
  margin-bottom: 50px;
  //padding-left: shopcomponent.$search-filters-padding-left;
}

.shopping-cart-image {
  height: 80px;
  padding: 10px;
  &:hover {
    background-color: #387fab;
  }
}

.searchbar {
  padding-bottom: 1%;
  padding-top: 1%;
}


.numberCircle {
  position: absolute;
  margin-top: 10px;
  margin-left: 0px;
  border-radius: 50%;
  width: 25px;
  height: 25px;

  background: $IPRWC-red;
  text-align: center;

  font: 18px Arial, sans-serif;
}
//
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }
