<div class="login-container">
  <div class="modal-header login">
    <div class="modal-title">Login</div>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </button>
  </div>
  <form #f="ngForm">
    <div class="modal-body">
      <label for="login-component-username-input">Email</label>
      <input type="text" class="form-control username"
             id="login-component-username-input"
             name="username"
             required
             ngModel
             #username="ngModel"
             [ngClass]="{'is-invalid': !username.valid && username.touched}"
             (keyup)="onKeyUsername($event)">
      <label for="login-component-password-input">Wachtwoord</label>
      <input type="password" class="form-control password"
             id="login-component-password-input"
             name="password"
             required
             ngModel
             #password="ngModel"
             [ngClass]="{'is-invalid': !password.valid && password.touched}"
             (keyup)="onKeyPassword($event)">
      <label for="login-component-password-input-two">Herhaal Wachtwoord</label>
      <input type="password" class="form-control password"
             id="login-component-password-input-two"
             name="password-two"
             required
             ngModel
             #password_two="ngModel"
             [ngClass]="{'is-invalid': !password_two.valid && password_two.touched}"
             (keyup)="onKeySecondPassword($event)">
    </div>
    <div class="passwords-not-the-same-error-text" *ngIf="!areBothPasswordsTheSame()">Wachtwoorden zijn niet gelijk!</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!(f.valid && areBothPasswordsTheSame())">maak account</button>
    </div>
  </form>
</div>


