<div class="modal-header">
  <div class="modal-title">
    Weet je zeker dat je deze producten wil bestellen?
  </div>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-7">
        <button class="btn btn-secondary" (click)="activeModal.close()">Terug</button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="onOrder()">Bestel</button>
      </div>
    </div>
  </div>
</div>
<!--<div class="modal-footer">-->
<!--  -->
<!--</div>-->
