$search-filters-padding-left: 20vw;
$search-filters-padding-left-mobile: 5vw;

.shop {
  padding-left: $search-filters-padding-left;
  margin-left: 0;
}
.search-filters {
  width: $search-filters-padding-left;
}
.search-filters-mobile {

}
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .search-filters {
    padding-left: $search-filters-padding-left-mobile;
  }
  .search-filters-mobile {
    position: fixed;
    top: 140px;
    z-index: 99 !important;
  }
  .shop {
    padding-left: 0;
    margin-left: 0;
  }
}
