$IPRWC-blue-white: #f7fbf6;
$IPRWC-red: #e63946;
$IPRWC-light-blue: #a8dadc;
$IPRWC-white: #ffffff;
$IPRWC-blue: #457b9d;


/* Importing Bootstrap SCSS file. */
// for some reason importing this breaks bootstrap idk why
//@import '~bootstrap/scss/bootstrap';
